watch_file .tool-versions
asdf plugin-add java || true
asdf plugin-add docker-compose https://github.com/virtualstaticvoid/asdf-docker-compose.git || true
asdf install
use asdf
export JAVA_HOME="$(dirname "$(dirname "$(expand_path "$(asdf which java)" "/")")")"
