watch_file .tool-versions
asdf_has java || asdf plugin-add java
asdf_has docker-compose || asdf plugin-add docker-compose https://github.com/virtualstaticvoid/asdf-docker-compose.git
asdf install
use asdf
export JAVA_HOME="$(dirname "$(dirname "$(expand_path "$(asdf which java)")")")"
