[versions]
junitVersion = "5.9.2"
checkstyleVersion = "10.8.1"
aeronVersion = "1.40.0"
sbeVersion = "1.27.0"
agronaVersion = "1.17.1"
slf4jVersion = "2.0.6"
logbackVersion = "1.4.5"
mockitoVersion = "5.1.1"
jmhVersion = "1.36"

[libraries]
aeron = { group = "io.aeron", name = "aeron-all", version.ref = "aeronVersion" }
agrona = { group = "org.agrona", name = "agrona", version.ref = "agronaVersion" }
sbe = { group = "uk.co.real-logic", name = "sbe-tool", version.ref = "sbeVersion" }
jupiterEngine = { group = "org.junit.jupiter", name = "junit-jupiter-engine", version.ref = "junitVersion" }
jupiterApi = { group = "org.junit.jupiter", name = "junit-jupiter-api", version.ref = "junitVersion" }
checkstyle = { group = "com.puppycrawl.tools", name = "checkstyle", version.ref = "checkstyleVersion" }
slf4j = { group = "org.slf4j", name = "slf4j-api", version.ref = "slf4jVersion" }
logback = { group = "ch.qos.logback", name = "logback-classic", version.ref = "logbackVersion" }
mockito-core = { group = "org.mockito", name="mockito-core", version.ref = "mockitoVersion"}
mockito-junit = { group = "org.mockito", name="mockito-junit-jupiter", version.ref = "mockitoVersion"}
jmhcore = { group = "org.openjdk.jmh", name = "jmh-core", version.ref = "jmhVersion" }
jmhannprocess = { group = "org.openjdk.jmh", name = "jmh-generator-annprocess", version.ref = "jmhVersion" }

[bundles]
testing = [ "jupiterApi", "jupiterEngine", "mockito-core", "mockito-junit"]
