[versions]
junitVersion = "5.9.3"
junitPlatformVersion = "1.9.3"
checkstyleVersion = "10.10.0"
aeronVersion = "1.41.2"
sbeVersion = "1.28.2"
agronaVersion = "1.18.1"
slf4jVersion = "2.0.7"
logbackVersion = "1.4.7"
mockitoVersion = "5.3.1"
jmhVersion = "1.36"
picocliVersion = "4.7.3"
jlineVersion = "3.23.0"
picoJlineVersion = "4.7.3"

[libraries]
aeron = { group = "io.aeron", name = "aeron-all", version.ref = "aeronVersion" }
agrona = { group = "org.agrona", name = "agrona", version.ref = "agronaVersion" }
sbe = { group = "uk.co.real-logic", name = "sbe-tool", version.ref = "sbeVersion" }
jupiterEngine = { group = "org.junit.jupiter", name = "junit-jupiter-engine", version.ref = "junitVersion" }
jupiterApi = { group = "org.junit.jupiter", name = "junit-jupiter-api", version.ref = "junitVersion" }
jupiterPlatform = { group = "org.junit.platform", name = "junit-platform-launcher", version.ref = "junitPlatformVersion" }
checkstyle = { group = "com.puppycrawl.tools", name = "checkstyle", version.ref = "checkstyleVersion" }
slf4j = { group = "org.slf4j", name = "slf4j-api", version.ref = "slf4jVersion" }
logback = { group = "ch.qos.logback", name = "logback-classic", version.ref = "logbackVersion" }
mockito-core = { group = "org.mockito", name="mockito-core", version.ref = "mockitoVersion"}
mockito-junit = { group = "org.mockito", name="mockito-junit-jupiter", version.ref = "mockitoVersion"}
jmhcore = { group = "org.openjdk.jmh", name = "jmh-core", version.ref = "jmhVersion" }
jmhannprocess = { group = "org.openjdk.jmh", name = "jmh-generator-annprocess", version.ref = "jmhVersion" }
picocli = { group = "info.picocli", name = "picocli", version.ref = "picocliVersion" }
jline = { group = "org.jline", name = "jline", version.ref = "jlineVersion" }
picoJline = { group = "info.picocli", name = "picocli-shell-jline3", version.ref = "picoJlineVersion" }

[bundles]
testing = [ "jupiterApi", "jupiterEngine", "jupiterPlatform", "mockito-core", "mockito-junit"]
