name: build
on:
  push:
    branches:
      - main
jobs:
  build:
    name: Dependencies
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Run snapshot action
        uses: mikepenz/gradle-dependency-submission@{latest}
